@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,900);
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}
header {
  text-align: center;
  font-size: 25px;
  border-bottom: 1px solid #CACACA;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
}
#contentwrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /*align-items: center;*/
  margin: 0 50px;
  width: calc(100% - 50px*2);
  background-color: #DDDDDD;
  height: 700px;
}
footer {
  border-top: 1px solid #CACACA;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}
/* ==== ====  */
.intro-img {
  display: none;
}
#BMG-enter {
  display: none;
  cursor: pointer;
  font-size: 40px;
  text-align: center;
}
.logoimage {
  width: 130px;
  height: auto;
}
.logo-column {
  display: inline-flex;
  -webkit-display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  min-height: 400px;
}
#column3 {
  justify-content: center;
}
